apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - rolearn: arn:aws:iam::928655657136:role/prow.cncf.io-dev
      username: system:node:{{EC2PrivateDNSName}}
      groups:
        - system:bootstrappers
        - system:nodes
  mapUsers: |
    - userarn: arn:aws:iam::928655657136:user/prow.cncf.io
      username: prow
      groups:
        - system:masters
    - userarn: arn:aws:iam::928655657136:user/bb@ii.coop
      username: bb
      groups:
        - system:masters
    - userarn: arn:aws:iam::928655657136:user/hh@ii.coop
      username: hh
      groups:
        - system:masters
    - userarn: arn:aws:iam::928655657136:user/zz@ii.coop
      username: zz
      groups:
        - system:masters
    - userarn: arn:aws:iam::928655657136:user/rkielty@rokitds.com
      username: rob
      groups:
        - system:masters
